ion-content{
    --background: rgb(243, 243, 243);
    }

    ion-item.item-content { background-color: transparent !important; }

    .item .item-content {
        background-color: transparent !important;
      }



